// p {
//   color: #000;
//   //   font-weight: 700;
// }
// h3 {
//   color: #000;
//   font-weight: 700;
// }

// .container {
//   max-width: 1200px;
//   margin: 24px auto;
//   margin-bottom: 48px;

//   .cart {
//     display: flex;

//     .products {
//       flex: 0.75;
//       max-height: 400px; /* Đặt chiều cao tối đa mà bạn muốn hiển thị trên màn hình */
//       overflow-y: auto; /* Tạo thanh cuộn dọc */

//       .product {
//         display: flex;
//         width: 100%;
//         height: 170px;
//         overflow: hidden;
//         border: 1px solid silver;
//         margin-bottom: 20px;
//         background-color: #eee;

//         &:hover {
//           border: none;
//           box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
//           transform: scale(1);
//         }

//         a {
//           img {
//             height: 100%;
//             object-fit: cover;

//             &:hover {
//               transform: scale(1.04);
//             }
//           }
//         }

//         .product-info {
//           padding: 20px;
//           width: 100%;
//           position: relative;

//           .product-names {
//             font-size: 18px;
//             margin-bottom: 12px;
//           }
//           .product-sub-name {
//             font-size: 16px;
//             color: #333333;
//             opacity: 0.9;
//           }

//           .product-price {
//             margin-bottom: 20px;
//           }

//           .main-price {
//             margin-bottom: -28px;

//             .price {
//               color: #4eab0c;
//               font-size: 24px;
//               line-height: 1.4;
//               font-weight: 900;
//               margin: 4px 0;
//             }

//             span {
//               position: relative;
//               top: -35px;
//               left: 130px;
//               font-size: 20px;
//               color: #8e8a8a;
//               text-decoration: line-through;
//               margin-left: auto;
//             }
//           }

//           .quantity {
//             display: flex;

//             p {
//               position: relative;
//               top: 10px;
//               font-size: 16px;
//               font-weight: 600;
//             }

//             input {
//               width: 30px;
//               height: 30px;
//               font-size: 16px;
//               //   font-weight: 500;
//               margin-top: 8px;
//               margin-left: 8px;
//             }
//           }

//           .product-remove {
//             position: absolute;
//             bottom: 4px;
//             right: 20px;
//             padding: 8px 24px;
//             background: -webkit-linear-gradient(left, #b224ef, #7579ff);
//             color: white;
//             cursor: pointer;
//             border-radius: 5px;

//             &:hover {
//               background-color: white;
//               background: -webkit-linear-gradient(left, #7579ff, #b224ef);
//               font-weight: 600;
//               border: 1px solid #4eab0c;
//             }

//             .fa-color,
//             .product-remove span {
//               color: #fff;
//             }

//             .fa {
//               margin-right: 5px;
//             }
//           }

//           // .product-quantity > input {
//           //   width: 40px;
//           //   padding: 5px;
//           //   text-align: center;
//           // }
//         }
//       }
//     }

//     .cart-total {
//       flex: 0.25;
//       margin-left: 20px;
//       padding: 20px;
//       height: auto;
//       border: 1px solid silver;
//       border-radius: 5px;
//       background-color: #eee;

//       p {
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 30px;
//         font-size: 20px;
//       }

//       .order {
//         .fa-shopping {
//           position: relative;
//           left: 90px;
//           top: 32px;
//           color: #fff;
//         }

//         .btn-order {
//           display: block;
//           text-align: center;
//           height: 40px;
//           line-height: 40px;
//           border-radius: 5px;
//           background: -webkit-linear-gradient(left, #7579ff, #b224ef);
//           color: #fff;
//           text-decoration: none;
//           cursor: pointer;

//           &:hover {
//             background: -webkit-linear-gradient(left, #b224ef, #7579ff);
//           }
//         }
//       }
//     }
//   }
// }

// // .container > h1 {
// //   padding: 20px 0;
// // }

// // .size {
// //   display: flex;
// //   align-items: center;
// //   margin: 20px 0;
// //   cursor: pointer;
// // }

// // .size p {
// //   font-size: 16px;
// //   font-weight: 600;
// // }

// // .size-product {
// //   width: 32px;
// //   height: 29px;
// //   line-height: 29px;
// //   border: 1px solid #ff5e00;
// //   color: #000;
// //   text-align: center;
// //   margin: 2px 10px;
// // }

// // .size-product.active {
// //   border-width: 1.5px;
// //   color: #ff5e00;
// //   font-weight: 500;
// // }

// .payment {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: rgba(0, 0, 0, 0.4);
//   /* display: flex; */
//   align-items: center;
//   justify-content: center;
//   display: none;
// }

// .payment.active {
//   display: flex;
// }

// /* .payment-container{
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	padding:25px;
// 	background: -webkit-linear-gradient(left, #7579ff, #b224ef);
//   } */

// // .payment-container form {
// //   z-index: 2;
// //   padding: 20px;
// //   width: 700px;
// //   background: #fff;
// //   box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
// //   animation: fadeIn ease 0.5s;
// // }

// // @keyframes fadeIn {
// //   from {
// //     opacity: 0;
// //     transform: translateY(-150px);
// //   }

// //   to {
// //     opacity: 1;
// //     transform: translateY(0);
// //   }
// // }

// // .payment-container form .row {
// //   display: flex;
// //   flex-wrap: wrap;
// //   gap: 15px;
// // }

// // .payment-container form .row .col {
// //   flex: 1 1 250px;
// // }

// // .payment-container form .row .col .title {
// //   font-size: 20px;
// //   color: #333;
// //   padding-bottom: 5px;
// //   text-transform: uppercase;
// // }

// // .payment-container form .row .col .inputBox {
// //   margin: 16px 0;
// // }

// // .payment-container form .row .col .inputBox span {
// //   margin-bottom: 10px;
// //   display: block;
// // }

// // .payment-container form .row .col .inputBox input {
// //   width: 100%;
// //   border: 1px solid #ccc;
// //   padding: 10px 15px;
// //   font-size: 15px;
// //   text-transform: none;
// // }

// // .payment-container form .row .col .inputBox input:focus {
// //   border: 1px solid #000;
// // }

// // .payment-container form .row .col .flex {
// //   display: flex;
// //   gap: 15px;
// // }

// // .payment-container form .row .col .flex .inputBox {
// //   margin-top: 5px;
// // }

// // .payment-container form .row .col .inputBox img {
// //   height: 32px;
// //   margin-top: 5px;
// //   filter: drop-shadow(0 0 1px #000);
// // }

// // .payment-container form .submit-btn {
// //   width: 49%;
// //   padding: 12px;
// //   font-size: 17px;
// //   border-radius: 6px;
// //   background: #4eab0c;
// //   color: #fff;
// //   margin-top: 5px;
// //   cursor: pointer;
// //   border: none;
// // }

// // .payment-container form .submit-btn:hover {
// //   background: -webkit-linear-gradient(left, #b224ef, #7579ff);
// // }

p {
  color: #000;
  //   font-weight: 700;
}
h3 {
  color: #000;
  font-weight: 700;
}

.font-16 {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 24px auto;
  margin-bottom: 48px;
}

.container .cart-title {
  h2 {
    font-size: 20px;
    color: #000;
    display: inline;
  }
}

.container .cart-title {
  display: flex;
}

.container .cart-title {
  span {
    color: #000;
    margin-left: 4px;
  }
}

.container {
  h1 {
    padding: 20px 0;
  }
}

.cart {
  display: flex;
  max-height: 800px; /* Đặt chiều cao tối đa mà bạn muốn hiển thị trên màn hình */
  overflow-y: auto; /* Tạo thanh cuộn dọc */
}

.cart {
  .product-header {
    color: #000;
    font-size: 1rem;
    display: flex;
    border: 1px solid silver;
    margin-bottom: 20px;
    background-color: #eee;
    padding: 8px 16px;
  }
}

.cart .product-header {
  input {
    margin-right: 20px;
    width: 20px;
  }
}

.cart .product-header input:hover {
  cursor: pointer;
}

.products {
  flex: 0.75;
}

.product {
  display: flex;
  width: 100%;
  height: 170px;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 20px;
  background-color: #eee;
}

.product:hover {
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}

.cart .product {
  input {
    width: 26px;
    margin-left: 16px;
  }
}

.cart .product > input:hover {
  cursor: pointer;
}

.product {
  a {
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.product > img:hover {
  transform: scale(1.04);
}

.product-info {
  padding: 20px;
  width: 100%;
  position: relative;
}

.cart .product-info .quantity {
  input {
    width: 60px;
    text-align: center;
  }
}

.product-name {
  font-size: 18px;
  margin-bottom: 12px;
}
.product-sub-name {
  font-size: 16px;
  color: #333333;
  opacity: 0.9;
}
.product-price {
  margin-bottom: 20px;
}

.main-price {
}

.main-price .price {
  color: #4eab0c;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 900;
  margin: 4px 0;
  display: inline;
}

.main-price {
  span {
    font-size: 20px;
    color: #8e8a8a;
    text-decoration: line-through;
    margin-left: 16px;
  }
}

.size {
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}

.size {
  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.size-product {
  width: 32px;
  height: 29px;
  line-height: 29px;
  border: 1px solid #ff5e00;
  color: #000;
  text-align: center;
  margin: 2px 10px;
}

.size-product.active {
  border-width: 1.5px;
  color: #ff5e00;
  font-weight: 500;
}

.quantity {
  display: flex;
}

.quantity {
  p {
    position: relative;
    top: 10px;
    font-size: 16px;
    font-weight: 600;
  }
}

.quantity {
  input {
    width: 30px;
    height: 30px;
    font-size: 16px;
    //   font-weight: 500;
    margin-top: 8px;
    margin-left: 8px;
  }
}
.product-remove {
  position: absolute;
  bottom: 4px;
  right: 20px;
  padding: 8px 24px;
  background: -webkit-linear-gradient(left, #b224ef, #7579ff);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.product-remove:hover {
  background-color: white;
  background: -webkit-linear-gradient(left, #7579ff, #b224ef);
  font-weight: 600;
  border: 1px solid #4eab0c;
}

.product-remove .fa-color,
.product-remove span {
  color: #fff;
}

.product-quantity {
  input {
    width: 40px;
    padding: 5px;
    text-align: center;
  }
}

.fa {
  margin-right: 5px;
}

.cart-total {
  flex: 0.25;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: #eee;
  height: 200px;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.cart-total .price-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 20px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
}

.fa-shopping {
  margin-right: 8px;
}

.order {
  a {
    display: block;
    text-align: center;
    height: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 40px;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
    color: #fff;
    text-decoration: none;
  }
}

.cart-total a:hover {
  background: -webkit-linear-gradient(left, #b224ef, #7579ff);
}

.cart-total .total-price-title {
  color: #000;
}

.cart-total .price-content {
  display: flex;
  align-items: center;
}

.cart-total .price-cart {
  color: #c92127;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.payment {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
}

.payment.active {
  display: flex;
}

.payment-container {
  form {
    z-index: 2;
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
    animation: fadeIn ease 0.5s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.payment-container {
  form {
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        flex: 1 1 250px;
      }
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        .title {
          font-size: 20px;
          color: #333;
          padding-bottom: 5px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        .inputBox {
          margin: 16px 0;
        }
      }
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        .inputBox {
          span {
            margin-bottom: 10px;
            display: block;
          }
        }
      }
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        .inputBox {
          input {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px 15px;
            font-size: 15px;
            text-transform: none;
          }
        }
      }
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        .inputBox {
          input:focus {
            border: 1px solid #000;
          }
        }
      }
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        .flex {
          display: flex;
          gap: 15px;
        }
      }
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        .flex {
          .inputBox {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.payment-container {
  form {
    .row {
      .col {
        .inputBox {
          img {
            height: 32px;
            margin-top: 5px;
            filter: drop-shadow(0 0 1px #000);
          }
        }
      }
    }
  }
}

.payment-container {
  form {
    .submit-btn {
      width: 49%;
      padding: 12px;
      font-size: 17px;
      border-radius: 6px;
      background: #4eab0c;
      color: #fff;
      margin-top: 5px;
      cursor: pointer;
      border: none;
    }
  }
}

.payment-container {
  form {
    .submit-btn:hover {
      background: -webkit-linear-gradient(left, #b224ef, #7579ff);
    }
  }
}
