a {
    text-decoration: none;
}

.content {
    background-color: #fff;
    height: auto;
}

.content .main-content {
    flex: 0.8;
}

.content .main-list {
    width: 100%;
    display: flex;
}

.content .container_content .header-container {
    padding: 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content .container_content .header-container .header-container-categories {
    color: #1e9122;
}

.content .container_content .header-container .header-container-icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: end;
}

.content .container_content .header-container .header-container-icon i {
    width: 34px;
    height: 34px;
    background-color: #3e9b13;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    margin: 0 4px;
}

.content .container_content .header-container .header-container-icon i:hover {
    color: #141313;
    opacity: 0.6;
}

.content .container_content .header-container .header-container-select select {
    width: 180px;
    height: 36px;
    color: #5a5959;
    margin-left: 4px;
}

.content .container_content .wrapper-content {
    display: flex;
}

.content .main-content .main-list .main-list-item {
    padding: 10px;
    transition: all 0.2s ease-in-out;
    width: 25%;
    margin-top: 28px;
    position: relative;
}

.main-list-item > a {
    display: block;
}

.content .main-content .main-list .main-list-item:hover .cover-img-product {
    position: relative;
}

.content .main-content .main-list .main-list-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-color: #eee;
    z-index: 99999;
}

.content .main-content .main-list .main-list-item .main-discription {
    min-height: 250px;

    .item-desp {
        min-height: 50px;
        // max-height: 50px;
    }

    .cover-img-product {
        height: 200px;

        .promotion-percentent-circle {
            position: absolute;
            top: 0;
            right: 24px;
            color: #000;
            width: 36px;
            height: 36px;
            background-color: #f7941e;
            border-radius: 50%;
            text-align: center;
            .detail-number-percent {
                color: #fff;
                font-weight: bold;
                line-height: 36px;
                font-size: 0.8rem;
            }
        }
        .avatar-image-product {
            margin: 0 auto;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
            border-radius: 4px;
            display: block;
        }
    }
    p {
        margin: 10px 10px 10px 0;
        display: -webkit-inline-box;
        color: black;
        font-size: 1.2rem;
        line-height: 1.3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.content .main-content .main-list .main-list-item .main-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-list-item .main-price {
    p {
        color: #4eab0c;
        font-weight: 900;
        font-size: 18px;
        margin: 0 26px 0 0;
    }

    span {
        font-size: 0.9rem;
        color: #8e8a8a;
        text-decoration: line-through;
        margin-left: auto;
        font-size: 18px;
        margin: 0;
    }
}

.content .main-content .main-list .main-list-item .main-rate i {
    font-size: 0.7rem;
    color: #f2c522;
}

.content .main-content .main-list .main-list-item .main-list-hover {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}

.content .main-content .main-list .main-list-item .main-list-hover .main-list-hover1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #c83707;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.content .main-content .main-list .main-list-item .main-list-hover .main-list-hover1 i {
    color: white;
}

.content .main-content .main-list .main-list-item .main-list-hover .main-list-hover1 p {
    color: #fff;
    font-size: 0.9rem;
    margin-left: 10px;
}

.content .main-content .main-list .main-list-item .main-list-hover .last-icon i {
    color: #fff;
    background-color: #1f7208;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.content .main-content .main-list .main-list-item:hover .main-list-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content .last-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 30px 0;
}

.content .last-container .container-page {
    cursor: pointer;
    margin: 0 3px;

    .right-page {
        padding: 10px;
        user-select: none;
        font-size: 1.6rem;
        color: #f7941e;
    }

    .left-page {
        padding: 10px;
        user-select: none;
        font-size: 1.6rem;
        color: #f7941e;
    }
}

.content .last-container .container-page .page-number {
    padding: 10px;
    background-color: #c9c6c6;
    color: white;
    min-width: 40px;
    text-align: center;
    border-radius: 4px;
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
    user-select: none;
}

.content .last-container .container-page .page-number:hover {
    opacity: 0.8;
}

.content .last-container .container-page .page-number.active {
    background-color: #6bc90c;
}

.content .last-container .end-page {
    background-color: #c9c6c6;
}

.content .last-container .end-page p {
    padding: 10px;
    background-color: #c9c6c6;
    color: white;
    min-width: 40px;
    text-align: center;
    border-radius: 4px;
    -webkit-transition: ease 0.2s;
    transition: ease 0.2s;
}

.content .last-container .end-page:hover {
    background-color: #6bc90c;
    cursor: pointer;
}

.list-filter {
    max-height: 200px;
    overflow-y: auto;
    position: relative;
}

.list-filter ul li {
    margin: 15px 0;
}

.list-filter ul li input {
    color: #2feb3c;
}

.list-filter ul li span {
    color: #5a5858;
    margin-left: 5px;
    font-size: 1rem;
}

.list-filter ul li span:hover {
    color: #1bdd14;
    cursor: pointer;
}

.list-filter .filter-item img {
    width: 72px;
    height: 28px;
    margin-left: 8px;
    margin-bottom: -8px;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        color: #1e9122;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        color: #1e9122;
    }
}
