@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.background-header {
  background-color: green;
}

.background-header-white {
  background-color: #fff;
}

.color-title {
  font-size: 16px;
}
.color-red {
  color: red;
}
.text-center {
  text-align: center;
}
.text-right {
  float: right;
}
.text-size-fit {
  font-size: 16px;
}
.text-size-title {
  font-size: 20px;
}

.text-13 {
  font-size: 13px;
}

.user-layout {
  background-color: #fff !important;
}

.modal-modal {
  max-width: 400px;
}

.modal-header {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  height: 50px;
}
