a {
    text-decoration: none;
}
.header {
    width: 100vw;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
.col {
    padding-left: 4px;
    padding-right: 4px;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.topbar {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.546);
    line-height: 24px;
    background: linear-gradient(-180deg, #f53d2d, #f63);
    width: 100vw;
}

.topbar i {
    color: #fff;
    font-size: 0.8rem;
}

.topbar a {
    color: #fff;
    font-size: 0.8rem;
}

.topbar a:hover {
    text-decoration: underline;
}

.topbar .topbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.topbar p {
    color: #fff;
    font-size: 0.8rem;
    margin-left: 20%;
}

.topbar-right-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.topbar-right-list-item {
    margin-left: 30px;
}

.topbar-left p {
    font-size: 1rem;
    margin-top: 16px;
}

.topbar-right-list-item i,
.topbar-right-list-item a {
    margin-right: 4px;
    font-size: 1rem;
}

.mid-header {
    height: 82px;
    background-color: #fff;
    width: 100vw;
}

.hr {
    border-bottom: 2px solid #ee4d2d;
    margin-top: 8px;
    margin-bottom: 0;
}

.mid-header .container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    max-width: 1290px !important;
}

.container-header .cover-img-menu {
    width: 34px;
    height: 34px;
    position: relative;
    margin-top: 4px;
    margin-left: 14px;
    padding-right: 20px;
    box-sizing: content-box;
    cursor: pointer;
    .icon-menu-header {
        width: 100%;
    }
    .down-menu-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
    }

    &:hover {
        .modal-wrapper-cate {
            display: block;
        }
    }
}

.modal-wrapper-cate {
    min-width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 8px;
    display: none;
    opacity: 0.9;
    .modal-container-cate {
        padding: 16px;
        user-select: none;
        max-height: 430px;
        overflow-y: auto;

        .modal-title-cate {
            width: 100%;
            font-size: 1.5rem;
            font-weight: bold;
            color: #7a7e7f;
            border-bottom: 2px solid #ed722f;
        }
        .modal-item-cate {
            padding: 20px 0 8px;
            font-size: 1rem;
            border-bottom: 1px solid #ddd;
            margin-bottom: 0;

            &:hover {
                background-color: #f2f4f5;
            }
        }
    }
}

.mid-header .container-header .container-header-2 {
    position: relative;
}

.mid-header .container-header .container-header-2 .header-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 560px;
    border-radius: 8px;
    padding: 2px 0;
    background-color: #fff;
    right: 20px;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #ccc;
}

.mid-header .container-header .container-header-2 .header-search input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    height: 38px;
    border: none;
    padding: 16px;
    border-radius: 8px;
    outline: none;
}

.mid-header .container-header .container-header-2 .header-search i {
    line-height: 35px;
    border-radius: 3px;
    margin: 3px;
    padding: 0 16px;
    text-align: center;
    background-color: #ed722f;
    margin-right: 8px;
}

.mid-header .container-header .container-header-2 .header-search i:hover {
    cursor: pointer;
    opacity: 0.8;
}

.mid-header .container-header .container-header-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.mid-header .container-header .container-header-3 .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4px 18px;
    color: #000;
    position: relative;
}

.mid-header .container-header .container-header-3 .header-list:hover .menu-header {
    display: block;
    z-index: 999;
}

.mid-header .container-header .container-header-3 .header-list .menu-header {
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    top: 100%;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.mid-header .container-header .container-header-3 .header-list .menu-header .wrapper-content-menu {
    padding: 12px;
}

.mid-header .container-header .container-header-3 .header-list .menu-header .wrapper-menu-logged {
    min-width: 260px;
    opacity: 0.8;
    li {
        font-size: 1rem;
        list-style-type: none;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &:hover {
            background-color: #eee;
            opacity: 1;
        }
        a {
            display: flex;
        }

        span {
            color: #000;
            i {
                text-align: center;
                font-size: 1rem;
                width: 30px;
            }
        }
    }
}

.mid-header .container-header .container-header-3 .header-list .menu-header button {
    display: block;
    margin: 6px 0;
    border-radius: 8px;
    padding: 6px 0px;
    font-size: 1rem;
    min-width: 220px;
    font-weight: 700;
}

.mid-header .container-header .container-header-3 .header-list .menu-header button:hover {
    letter-spacing: 0.2px;
}

.mid-header .container-header .container-header-3 .header-list .cover-img-vietnam {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.mid-header .container-header .container-header-3 .header-list .cover-img-vietnam:hover {
    cursor: pointer;
}

.mid-header .container-header .container-header-3 .header-list img {
    width: 38px;
    margin-right: 4px;
}

.mid-header .container-header .container-header-3 .header-list b {
    font-size: 0.8rem;
    color: #fff;
    position: absolute;
    top: 0;
    right: 6px;
    background-color: #c92127;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
}

.mid-header .container-header .container-header-3 .header-list {
    p {
        font-size: 1rem;
        margin-top: 2px;
        position: absolute;
        bottom: -16px;
        min-width: 100px;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
    }
}

.mid-header .container-header .container-header-3 .header-list > i {
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 1.2rem;
}

.header-menu {
    width: 100vw;
    height: 60px;
    background-image: url('../../Assets/img/nen.jpg');
}

.header-menu .header-menu-nav .header-menu-nav-list .header-menu-nav-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-menu .header-menu-nav .header-menu-nav-list .header-menu-nav-list-item p {
    text-transform: uppercase;
    line-height: 60px;
    color: #eee;
    margin: 0 24px;
    font-weight: 500;
    font-size: 17px;
}

.header-menu .header-menu-nav .header-menu-nav-list .header-menu-nav-list-item p:hover {
    color: #b1ff00;
    &.active {
        color: #1bdd14;
    }
}

.header-bottom {
    height: 40px;
    border-bottom: 1px solid #dedbdb;
}

.header-bottom span {
    line-height: 40px;
    font-size: 0.8rem;
    margin-right: 5px;
}

.header-bottom span:nth-child(3) {
    color: #6bc90c;
    margin-left: 5px;
}

.tabs {
    margin: 0;
    overflow: hidden;
    li {
        display: inline-block;
        padding: 0 66px;
        float: left;

        &:hover,
        &.active {
            color: #c92127;
            border-bottom: 2px solid #c92127;
            background-size: 100% auto;
            text-decoration: none !important;
            cursor: pointer;
        }
    }
    .title {
        line-height: 36px;
        display: block;
        text-align: center;
        margin-top: 16px;
        // color: #000;
        font-size: 16px;
    }
}
