.containerPay {
    background-color: #ccc;
    max-width: 100%;
    // margin-top: 32px;
    padding-top: 20px;

    .delivery-address {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
        width: 1200px;
        margin: auto;
        margin-bottom: 14px;

        .info-delivery {
            display: flex;
            flex-direction: row;
            position: relative;
            .left-info {
                li {
                    margin-bottom: 16px;
                    margin-right: 60px;
                    color: #000;
                    list-style-type: none;
                    font-size: 1rem;
                }
            }
            .right-info {
                li {
                    margin-bottom: 16px;
                    margin-right: 60px;
                    color: #000;
                    list-style-type: none;
                    font-size: 1rem;
                }
            }
            .img-delivery {
                display: flex;
                width: 180px;
                position: absolute;
                right: 24%;
                bottom: 50%;
                transform: translateY(50%);
                img {
                    width: 100%;
                }
            }
        }
    }
    .method-delivery {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
        width: 1200px;
        height: 120px;
        margin: auto;
        margin-bottom: 14px;
        .info-method {
            margin-left: 30px;
        }
    }
    .method-pay {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
        width: 1200px;
        height: 120px;
        margin: auto;
        margin-bottom: 14px;
        .info-method-pay {
            margin-left: 30px;
        }
    }
    .discout {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
        width: 1200px;
        height: 120px;
        margin: auto;
        margin-bottom: 14px;

        .info-discout {
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
                margin-left: 30px;
            }
            .input {
                display: flex;
                border-radius: 10px;
                border: 1px solid #ccc;
                width: 500px;
                padding: 8px 106px 8px 16px;
                margin-left: 20px;
                margin-bottom: 20px;
            }
            .apply {
                display: flex;
                align-items: center;
                .apply-btn {
                    border-color: #ee4d2d;
                    background-color: #ee4d2d;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 94px;
                    height: 30px;
                    margin-bottom: 19px;
                    margin-left: -100px;

                    &:hover {
                        border-color: #ee4d2d;
                        background-color: #fff;
                        color: #ee4d2d;
                    }
                }
            }
            .discout-btn {
                margin-left: 20px;
                margin-bottom: 16px;
            }
        }
    }
    .check {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
        width: 1200px;
        height: inherit;
        margin: auto;
        border-bottom: 4px solid #ccc;
        .product-order {
            display: flex;
            flex-direction: row;
            margin-left: 40px;
            margin-bottom: 24px;

            img {
                width: 140px;
                height: 160px;
            }
            .check-right {
                display: flex;
                margin-left: 40%;
                .temporary {
                    display: flex;
                    flex-direction: column;
                    margin-right: 100px;
                    span {
                        color: #8e8a8a;
                        text-decoration: line-through;
                        margin-top: -10px;
                    }
                }
                .quantity {
                    margin-right: 120px;
                }
                .total {
                    color: #ed722f;
                    font-weight: 600;
                }
            }
        }
    }
}

.pay-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    width: 100%;
    height: 100px;
    z-index: 999;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    .line1 {
        width: 78%;
        border: 1px solid #bbb;
        margin-left: auto;
        margin-right: auto;
    }
    .done {
        display: flex;
        align-items: center;
        .back-btn {
            display: flex;
            align-items: center;
            background-color: white;
            border: none;
            margin-left: 160px;
            a {
                color: black;
                font-size: 18px;
                font-weight: 600;
                padding-left: 8px;
            }
        }
        .total-total {
            // margin-right: auto;
            // margin-left: auto;
            margin-left: 500px;
            .total-text {
                font-size: 20px;
                font-weight: 600;
                color: #ee4d2d;
                // margin-left: 50px;
                // margin-right: auto;
                // margin-left: auto;
            }
        }
        .confirm-btn {
            border-color: #ee4d2d;
            background-color: #ee4d2d;
            padding: 10px 60px;
            margin-left: auto;
            margin-right: 11%;

            &:hover {
                border-color: #ee4d2d;
                background-color: #fff;
                color: #ee4d2d;
            }
            span {
                font-family: 'nunito-sans', sans-serif, Helvetica, Arial;
            }
        }
    }
}

.line {
    width: 95%;
    border: 1px solid #ccc;
    margin-top: -10px;
    margin-bottom: 18px;
    margin-left: 32px;
}
p {
    font-size: 16px;
}
.h4 {
    text-transform: uppercase;
    font-size: 20px;
    color: #333333;
    padding: 16px 16px 16px 32px;
    font-weight: bold;
    // margin-right: 16px;
}

// start Modal
.modal-promotion-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 99999;
}

.modal-promotion-wrapper.hidden {
    display: none;
    animation: hideModalPromotion ease-in-out 0.3s;
}

.modal-promotion-wrapper.active {
    display: flex;
    animation: showModalPromotion ease-in-out 0.2s;
}

@keyframes showModalPromotion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideModalPromotion {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modal-promotion-container {
    background-color: #fff;
    width: 550px;
    max-width: calc(100% - 32px);
    border-radius: 8px;
    position: relative;

    .close-modal-promotion {
        position: absolute;
        top: 0;
        right: 0;
        color: #ccc;
        font-size: 1.4rem;
        width: 60px;
        height: 60px;
        cursor: pointer;
        line-height: 60px;
        text-align: center;
        &:hover {
            color: #000;
        }
    }

    .modal-promotion-header {
        box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
        border-radius: 8px 8px 0 0;
        padding: 16px;
        .title-promotion-header {
            color: #2f80ed;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.modal-promotion-inner {
    padding: 16px;
}

.cover-input-promotion {
    display: flex;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    .form-promotion {
        width: 100%;
        flex: 8;
        border: none;
        outline: none;
        padding: 0 10px;
        font-weight: bold;

        &::placeholder {
            font-weight: bold;
            color: #ccc;
        }
    }

    .apply-promotion-btn-top {
        flex: 2;
        border: none;
        border-radius: 8px;
        padding: 4px 2px;
        font-weight: bold;
        color: #fff;
        background: #2f80ed;
    }
}

.modal-promotion-content {
    max-height: 480px;
    overflow-y: auto;
    .title-content {
        font-weight: bold;
    }
}

.cover-promotion-ticket {
    margin-bottom: 18px;
    .inner-promotion-ticket {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: flex;
        border-radius: 8px;
        border: 1px solid #fff;
        min-height: 146px;
        position: relative;
        margin: 0 5px;
        &:hover {
            border: 2px solid #2f80ed;
            cursor: pointer;
        }

        .left-promotion-ticket {
            padding: 10px;
            flex: 3;

            .voucher-img {
                width: 100%;
                border-radius: 4px;
            }
        }

        .right-promotion-ticket {
            padding: 10px;
            flex: 7;

            .title-right-promotion {
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            .sub-title-promotion {
                color: #7a7e7f;
                font-size: 14px;
            }

            .apply-promotion-btn-bottom {
                position: absolute;
                bottom: 6px;
                right: 6px;
                border: none;
                border-radius: 8px;
                padding: 4px 26px;
                font-weight: bold;
                color: #fff;
                background: #2f80ed;
            }
        }
    }
}

// End Modal
