.wrapper-profile {
    background-color: #f0f0f0;
}

.container-profile {
    display: flex;
    width: 1230px;
    margin: 0 auto;
    background-color: #f0f0f0;
    justify-content: space-between;
    padding: 10px 0 20px;
}

.sidebar-profile {
    flex: 1;
    background-color: #fff;

    margin-right: 10px;
}

.wrapper-sidebar {
    h3 {
        color: #c92127;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        border-bottom: 2px solid #f6f6f6;
        padding: 18px;
    }
}

.sidebar-item-info {
    padding: 16px;
    background-color: #fff;
    flex: 3;
}

.wrapper-change-profile {
    h5 {
        color: #000;
        font-weight: bold;
    }
}

.wrapper-change-info {
    padding: 16px;

    .cover-btn {
        text-align: center;
        font-size: 1.2rem;

        .update-btn {
            color: #fff;
            border: none;
            padding: 8px 60px;
            font-weight: 600;
            border-radius: 10px;
            background-color: #c92127;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    .cover-input {
        display: flex;
        margin-bottom: 20px;
        font-size: 0.9rem;

        .form-control-checkbox {
            width: 20px;
        }

        .form-control-input {
            flex: 0.93;
            outline: none;
            padding: 6px 14px;
            border-radius: 3px;
            border: 1px solid #ccc;
            font-weight: bold;
        }

        .cover-input-birthday {
            flex: 1;
            .form-control-input {
                flex: 0.9;
                outline: none;
                padding: 4px 14px;
                margin-right: 4px;
                border-radius: 3px;
                border: 1px solid #ccc;
                font-weight: bold;
            }
        }

        .form-control-input::placeholder {
            color: #ccc;
            font-weight: 600;
        }

        label {
            color: #000;
            min-width: 180px;
        }
    }
}

.detail-info-profile {
    p {
        font-size: 1rem;
    }

    h6 {
        padding-bottom: 10px;
        color: #000;
        border-bottom: 1px solid #ccc;
    }
}

.user-detail-address {
    h5 {
        color: #c92127;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    h6 {
        padding-top: 10px;
        color: #000;
    }
}
