.wrapper-profile {
    background-color: #f0f0f0;
}

.container-profile {
    display: flex;
    width: 1230px;
    margin: 0 auto;
    background-color: #f0f0f0;
    justify-content: space-between;
    padding: 10px 0 20px;
}

.sidebar-profile {
    flex: 1;
    background-color: #fff;

    margin-right: 10px;
}

.wrapper-sidebar {
    h3 {
        color: #c92127;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        border-bottom: 2px solid #f6f6f6;
        padding: 18px;
    }
}

.sidebar-item-info {
    padding: 16px;
    background-color: #fff;
    flex: 3;
}

.wrapper-info-profile {
    h5 {
        color: #000;
        letter-spacing: 2px;
        padding-bottom: 10px;
        font-size: 1.4rem;
    }
}

.wrapper-detail-info {
    background-color: #fff6e3;
    padding: 16px;
}

.detail-info-profile {
    p {
        font-size: 1rem;

        span {
            float: right;
        }
    }

    h6 {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000;
        border-bottom: 1px solid #ccc;
    }
}

.user-detail-address {
    h5 {
        color: #c92127;
        padding: 20px 0 8px;
        border-bottom: 1px solid #ccc;
    }

    h6 {
        padding-top: 10px;
        color: #000;
    }
}
