.product-main-container {
    background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
    margin-top: 70px;

    .title-product {
        color: #000000;
        // font-family: "Nunito", sans-serif;
        font-size: 18px;
        font-weight: 700;
        padding-top: 28px;
        margin-bottom: 32px;
        text-transform: uppercase;
        line-height: 1.6;
        text-align: center;
    }

    .search-category {
        overflow: visible;
    }

    .add-product-btn {
        font-size: 12px;
        border-radius: 8px;
        margin-left: 10%;
        margin-top: 24px;
        margin-bottom: 8px;
        background: -webkit-linear-gradient(left, #7579ff, #b224ef);

        &:hover {
            background: linear-gradient(135deg, #b224ef 0%, #7579ff 100%);
        }
    }

    .table-product {
        #main-product {
            background-color: #f0f0f0;
            // font-family: Arial, Helvetica, sans-serif;
            // border-collapse: collapse;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;

            tr {
                // &:nth-child(even) {
                //   background-color: #f2f2f2;
                // }

                &:hover {
                    background-color: #ddd;
                }

                th {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: center;

                    // background-color: #0d6efd;
                    // background-color: #f0f0f0;
                    // background-color: #fff; // Chỗ này đổi màu nền

                    // background: linear-gradient(to right, #6dd5fa, #ffffff);
                    color: #000;
                    border: 1px solid #fff;
                    font-size: 1rem;
                    font-weight: bold;
                }

                td {
                    background-color: #fff;
                    border: 0.5px solid #ddd;
                    // padding: 8px;
                    color: #000;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 600;
                    opacity: 0.9;

                    .avatar-image {
                        height: 50px;
                        border-radius: 20%;
                        padding: 10px 0;
                        box-sizing: content-box;
                    }

                    .btn-edit {
                        border: none;
                        color: #b1ff00;
                        font-size: 14px;
                        background-color: transparent;
                        width: 40%;

                        &:hover {
                            color: #000;
                        }
                    }

                    .btn-delete {
                        border: none;
                        color: #ff0000;
                        font-size: 14px;
                        background-color: transparent;
                        width: 25%;

                        &:hover {
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
}

.modal-content {
    .modal-header {
        color: white;
        // background-color: green;
        // background-color: green;
        height: 50px;

        button {
            background-color: green;

            span {
                font-size: 30px;
                color: white;
            }
        }
    }
}

.modal-product-body {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    .input-container {
        display: flex;
        flex-direction: column;
        width: 48%;

        input,
        .select-category {
            border: 1px solid black;
        }
    }

    .delete-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .ban-co-muon-xoa {
            font-size: 36px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        input {
            border: 1px solid black;
        }
    }
}

.d-block {
    border-radius: 10%;
    margin-top: 8px;
    margin-bottom: 8px;
}

// Reboot css defaut from library
.css-156xqnd-MuiInputBase-input {
    font-size: 1rem !important;
}

.css-19ht0v3-MuiTypography-root {
    color: #4cceac !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.css-k008qs {
    color: #fff !important;
}

.css-y0u0hj {
    position: fixed;
    top: 0;
    right: 0;
    left: 270px;
    background-color: #000;
    z-index: 1;
    padding-bottom: 30px !important;
}

// .pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
//     overflow-y: hidden;
// }

.css-ykcw1u {
    width: 40%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.css-zwiamn {
    margin-top: 80px !important;
}

.content {
    margin-left: 270px;
}

.pro-sidebar .pro-menu {
    padding-top: 0;
    padding-bottom: 10px;
}

.pro-sidebar-layout {
    overflow-y: hidden !important;
}

.css-1l8icbj {
    max-height: 460px;
    overflow-y: scroll !important;
}

.css-1l8icbj {
    max-height: 460px;
    overflow-y: scroll !important;
    cursor: pointer;
}

.css-1j1s727 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.css-uv7eon-MuiTypography-root {
    color: #000 !important;
}

.css-17w9904-MuiTypography-root {
    color: #fff !important;
    font-size: 1rem !important;
}

strong {
    color: #fff;
    font-size: 1rem;
}

// End reboot
