/* Tắt outline khi phần tử đang được tập trung */
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.wrapper-profile {
    background-color: #f0f0f0;
}

.container-profile {
    display: flex;
    width: 1230px;
    margin: 0 auto;
    background-color: #f0f0f0;
    justify-content: space-between;
    padding: 10px 0 20px;
}

.sidebar-profile {
    flex: 1;
    background-color: #fff;

    margin-right: 10px;
}

.wrapper-sidebar {
    h3 {
        color: #c92127;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        border-bottom: 2px solid #f6f6f6;
        padding: 18px;
    }
}

.wrapper-sidebar .items-sidebar {
    list-style-type: none;
    padding: 12px;
    li {
        border-bottom: 2px solid #f6f6f6;
        a {
            padding: 10px 0;
            display: block;
            font-size: 1rem;
            color: #000;
        }
    }
}

.sidebar-item-info {
    padding: 16px;
    background-color: #fff;
    flex: 3;

    .line {
        height: 1px;
        background-color: #eee;
        margin-top: 60px;
    }

    h5 {
        color: #000;
        font-weight: bold;
    }
}

.wrapper-change-address {
    display: flex;
    padding: 0 32px;

    .wrapper-info-address {
        .cover-input-address {
            .form-controll-contact {
                border-color: transparent;
            }

            label {
                min-width: 120px;
                color: #000;
                font-style: italic;
                font-size: 1rem;
            }
        }
    }

    .wrapper-info-contact {
        flex: 1;
        .cover-input-address {
            .form-controll-contact {
                border-color: transparent;
                outline: none;
                font-size: 1rem;
                border-bottom: 1px solid #ccc;
                width: 85%;
                margin-top: 16px;
                padding: 6px;
            }
        }
        h6 {
            color: #000;
            font-size: 1.4rem;
            margin: 8px 0 14px;
        }
    }
}

.wrapper-detail-info {
    background-color: #fff6e3;
    padding: 16px;
}

.detail-info-profile {
    p {
        font-size: 1rem;
    }

    h6 {
        padding-bottom: 10px;
        color: #000;
        border-bottom: 1px solid #ccc;
    }
}

.cover-btn-save {
    margin: 20px 0 10px;
    text-align: right;
    .btn-save {
        background-color: #c92127;
        color: #fff;
        border: none;
        padding: 9px 25px;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 8px;

        &:hover {
            opacity: 0.9;
        }
    }
}
