.items-sidebar {
    list-style-type: none;
    padding: 12px;
    li {
        border-bottom: 2px solid #f6f6f6;
        a {
            padding: 10px 0;
            display: block;
            font-size: 1rem;
            color: #000;
        }

        .active {
            color: #f53d2d;
        }
    }
}
